.verde{
    background-color:teal

}

.amarelo{
    background-color:yellow
}

.rosa{
    background-color: mediumvioletred

}

.laranja{
    background-color: darkorange;
}

.row{
 height: 200px;

}

